@model IEnumerable<BrothersGYM.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existentes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Espera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdcategoriaProductoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdproveedoresNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existentes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Espera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdcategoriaProductoNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdproveedoresNavigation.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idproducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idproducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idproducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
