@model IEnumerable<BrothersGYM.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntregaAprox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdempleadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntregaAprox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdempleadoNavigation.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idpedido">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idpedido">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idpedido">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
