@model IEnumerable<BrothersGYM.Models.Ventum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdclienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdempleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdproductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdclienteNavigation.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdempleadoNavigation.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdproductoNavigation.Imagen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idventa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idventa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idventa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
